
body {  }
.mainbody { margin: 0px; background: #fff; padding: 15px; }

.form-withmargin { padding-bottom: 20px; }

.dot-text { }
.dot-text:before { content: ''; display: inline-block; width: 6px; height: 6px; border-radius: 6px; margin-right: 5px; vertical-align: middle; }
.dot-default:before { background: #dde1eb; }
.dot-primary:before { background: #0f84fe; }
.dot-danger:before { background: #ff0000; }

.text-height { color: #9013fe; }

.icons { width:20px; height:20px; display:inline-block; vertical-align:middle; }
.icon-datas { background: url(../imgs/icon-datas.png) center center no-repeat; }
.icon-pigeonDept { background: url(../imgs/icon-pigeonDept.png) center center no-repeat; }
.icon-stock { background: url(../imgs/icon-stock.png) center center no-repeat; }
.icon-financeAudit { background: url(../imgs/icon-financeAudit.png) center center no-repeat; }
.icon-roleAdmin { background: url(../imgs/icon-roleAdmin.png) center center no-repeat; }

.icon-search { background: url(../imgs/icon-search.png) center center no-repeat; }
.icon-help { background: url(../imgs/icon-help.png) center center no-repeat; }
.icon-notice { background: url(../imgs/icon-notice.png) center center no-repeat; }
.icon-language { background: url(../imgs/icon-language.png) center center no-repeat; }

.icon-order-asc { background: url(../imgs/icon-order-asc.png) center center no-repeat; }
.icon-order-desc { background: url(../imgs/icon-order-desc.png) center center no-repeat; }

.input-error:after, .input-success:after {
    content: '';
    display: inline-block;
    position: relative;
    float: right;
    top: -30px;
    margin-bottom: -30px;
    right: 15px;
    width: 20px; height: 20px;
    background: url(../imgs/icon-input-success.png) center center no-repeat;
}
.input-error:after {
    background: url(../imgs/icon-input-error.png) center center no-repeat;
}

h2 { font-size: 22px; font-weight: bold; }
h3 { font-size: 20px; font-weight: bold; text-align: center; }
h4 { font-size: 16px; font-weight: bold; line-height: 1.5; }

.topMenu { height: 50px; padding: 10px; background: #ddd; }
.topMenu * { line-height: 30px; }


.media .glyphicon { float: right; }

.login { width:360px; height: 300px; margin:0 auto; text-align: center; }
.login h1 { font-size: 33px; font-weight: bold; margin-bottom: 20px; color: rgb(40,40,40); }
.login h5 { font-size: 14px; color:rgb(140,140,140); margin-bottom: 40px; }

.home { }
.home .map { border: 1px solid red; width: 100%; min-height:500px; }
.home .media { border-bottom: 1px solid #ddd; margin-bottom:10px; padding-bottom:15px; }

.buildingSummary {}

.buildingDetail {}
.buildingDetail .media-object { width:100%; margin-bottom: 15px; }
.buildingDetail .media-location { margin: 10px 0 20px; }
.buildingDetail .list-group-item { padding: 10px 0; }

.buildingNTKT {}
.buildingNTKT h4 { margin-bottom: 15px;  }
.buildingNTKT .category-head {width:100%; display: inline; white-space: nowrap;overflow-x:scroll;float:left;overflow-y:hidden;}
.buildingNTKT .category-head li { display:inline-block; padding: 10px 15px 15px; border-bottom: 2px solid #fff; }
.buildingNTKT .category-head li.on, .buildingNTKT .category-head li.on { border-bottom: 2px solid #ddd; }
.buildingNTKT .curFloor { width: 100%; margin: 20px 0; }
.buildingNTKT .curFloor img { width: 100%; }

.buildingNHJL {}
.buildingNHJL h2 { margin: 0 0 15px 0; }
.buildingNHJL .summaryOuter {width:100%; display: inline; white-space: nowrap;overflow-x:scroll;float:left;overflow-y:hidden;}
.buildingNHJL .summaryNH { margin: 0px; }
.buildingNHJL .summaryNH th, .buildingNHJL .summaryNH td { white-space: nowrap; } 
.buildingNHJL .summaryNH td { color: #2e6da4; }

.buildingNHJL .echart { margin: 15px 0; width:100%; height: 280px; background: #efefef; }

.buildingNHJL .summaryNH th


