<div class="content" page-title="报警处理">
    <div class="topMenu">
    	<div class="glyphicon glyphicon-menu-left pull-left" ng-click="gotoSummary();"></div>
    	<div class="glyphicon glyphicon-cog pull-right" ng-click="displaySettings(1);" data-toggle="modal" data-target="#myModal"></div>
    	<h3>报警处理</h3>
    </div>

    <div class="mainbody buildingBJCL">

		<ul class="category-head category-head-center">
			<li ng-class="datas.menuSelected == 0 ? 'on' : ''"
				ng-click="changeTab(0);">用能超标</li>
			<li ng-class="datas.menuSelected == 1 ? 'on' : ''"
				ng-click="changeTab(1);">管道安全</li>
		</ul>

		<div class="clearfix">&nbsp;</div>

		<ul class="list-group">
			<li class="list-group-item list-group-item-info">电</li>
			<li class="list-group-item"><span class="badge">0</span>月报警</li>
			<li class="list-group-item"><span class="badge">0</span>累计报警</li>
			<li class="list-group-item"><span class="badge">0</span>累计未处理报警</li>

			<li class="list-group-item list-group-item-info">水</li>
			<li class="list-group-item"><span class="badge">0</span>月报警</li>
			<li class="list-group-item"><span class="badge">0</span>累计报警</li>
			<li class="list-group-item"><span class="badge">0</span>累计未处理报警</li>

			<li class="list-group-item list-group-item-info">天然气</li>
			<li class="list-group-item"><span class="badge">0</span>月报警</li>
			<li class="list-group-item"><span class="badge">0</span>累计报警</li>
			<li class="list-group-item"><span class="badge">0</span>累计未处理报警</li>

			<li class="list-group-item list-group-item-info">蒸汽</li>
			<li class="list-group-item"><span class="badge">0</span>月报警</li>
			<li class="list-group-item"><span class="badge">0</span>累计报警</li>
			<li class="list-group-item"><span class="badge">0</span>累计未处理报警</li>
		</ul>

		<div class="clearfix">&nbsp;</div>

		<div class="summaryOuter">
			<table class="table">
		   		<thead>
		   			<tr>
		   				<th>序号</th>
		   				<th>类别</th>
		   				<th>报警时间</th>
		   				<th>报警地点</th>
		   				<th>报警类别</th>
		   				<th>实际能耗</th>
		   				<th>计划能耗</th>
		   				<th>超出比例</th>
		   				<th>操作</th>
		   			</tr>
		   		</thead>
		   		<tbody>
		   			<tr>
		   				<td colspan="9" class="nodata">没有数据</td>
		   			</tr>
		   		</tbody>
		   	</table>
		</div>

		<div class="dialog ng-hide" ng-show="datas.show_settings">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title form-inline">
                            <em>设置条件</em>
                            <div class="glyphicon glyphicon-remove pull-right" ng-click="displaySettings(0);"></div>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="section">
                            <div class="row">
                                <div class="col-sm-2 row-title">
                                    选择类别:
                                </div>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="datas.newOpts.type">
                                    	<option selected="selected">所有</option>
                                    	<option>电</option>
                                    	<option>水</option>
                                    	<option>天然气</option>
                                    	<option>蒸汽</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 row-title">
                                    报警类型:
                                </div>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="datas.newOpts.type">
                                    	<option selected="selected">所有</option>
                                    	<option>用能超标</option>
                                    	<option>管到安全</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 row-title">
                                    开始时间:
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" ng-model="datas.newOpts.fromDate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 row-title">
                                    结束时间:
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" ng-model="datas.newOpts.toDate">
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <div class="row">
                            	<div class="col-sm-11">
                            		<button class="btn btn-block --primary" ng-click=refreshDatas();>更新</button>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>