<div class="content" page-title="暖通空调">
    <div class="topMenu">
    	<div class="glyphicon glyphicon-menu-left pull-left" ng-click="gotoSummary();"></div>
    	<h3>暖通空调</h3>
    </div>

    <div class="mainbody buildingNTKT">
		<ul class="category-head">
			<li ng-repeat="f in datas.building.menu" 
				ng-class="datas.topMenuSelected == $index ? 'on' : ''"
				ng-click="changeType($index);"
				ng-bind="f[0]"></li>
		</ul>

		<ul class="category-head category-head-sub">
			<li ng-repeat="f in datas.building.menu[datas.topMenuSelected][2]" 
				ng-class="datas.subMenuSelected == $index ? 'on' : ''"
				ng-click="changeFloor($index);"
				ng-bind="f"></li>
		</ul>

		<div class="clearfix"></div>

		<div class="curFloor">
			<span class="icons point_on" ng-repeat="p in datas.devicePoints" ng-style="p.style" ng-click="viewDeviceDetail(p);"></span>
			<img ng-src="{{datas.currentFloorBg}}" />
		</div>

		<div class="details">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="f in datas.deviceDetail">
					<span ng-bind="f[0]" class="pull-left"></span>
					<span ng-bind="f[1]" class="pull-right"></span>
					<div class="clearfix"></div>
				</li>
			</ul>
		</div>

    </div>
</div>
